* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
    overflow-x: hidden;
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.actions {
  display: flex;
  justify-content: space-between;
}
.Contain {
  width: 30vw;
  padding:1.4rem !important;
  background: #eacda3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Posts {
  width: 60vw !important;
  padding: 2rem;
}

.app {
  display: flex;
}

.Typo {
  width: 200px !important;
  margin: auto;
  margin-bottom: 18px;
}
.margin {
  margin-bottom: 8px !important;
  padding: 1.3rem;
  background-color:white;
  width:70% !important;
}
#update {
  position: absolute;
  right: 30%;
  z-index: 5;
  top: 4px;
  background: white;
  width: 70px;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.loike {
  width: 20px;
}
.card {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.Media {
  width: 100%;
  height: 200px;
}

.horibtn {
  color: red;
  padding: 1.3rem;
}
.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
}
@media (max-width:900px){
    .app{
        display: flex;
        flex-direction: column;
    }
    .Contain {
        width: 100vw !important;
    }
    .Posts {
        width:100vw;
        
    }
   
}